<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>留言板列表</title>
</head>
<body>
    <center>
        <h1 style='color:darkred;'>留言列表</h1>
        <h3><a href='/add'>发布留言</a></h3>
        <table border='1' width='800'>
            <tr>
                <th>ID编号</th>
                <th>昵称</th>
                <th>留言信息</th>
                <th>留言时间</th>
                <th>操作</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.nickname}}</td>
                <td>{{i.info}}</td>
                <td>{{i.messageTime}}</td>
                <td>
                    <a href="/delete?id={{i.id}}">删除</a>
                    <a href="/modify?id={{i.id}}">修改</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>